# Build Folders
bin/
obj/

# ASP.NET Core
wwwroot/

# User-specific files
*.user
*.userosscache
*.suo
*.userstate

# VS Code directories
.vscode/

# Windows Installer files
Thumbs.db
ehthumbs.db

# JetBrains Rider
.idea/

# NUGET
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# npm and node_modules (se você usar npm para gerenciamento de pacotes)
node_modules/

# Local environment files (caso você tenha configurações locais, como localsettings.json)
local.settings.json
